<h1>Listing github_addresses</h1>

<table>
  <tr>
    <th>Githubadd</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @github_addresses.each do |github_address| %>
  <tr>
    <td><%= github_address.githubadd %></td>
    <td><%= github_address.User %></td>
    <td><%= link_to 'Show', github_address %></td>
    <td><%= link_to 'Edit', edit_github_address_path(github_address) %></td>
    <td><%= link_to 'Destroy', github_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Github address', new_github_address_path %>
