<%= simple_form_for(@blog_address) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :blogadd %>
    <%= f.association :User %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
